{% extends 'base.html' %}
{% block title %}
    Компании
{% endblock %}

{% block content %}
    <h1>Список компаний</h1>
    {% if companies_list %}
        <ul>
            {% for company in companies_list %}
                <li><a href="{% url 'company_detail' company.id %}"> {{ company.title }}</a></li>
            {% endfor %}
        </ul>
    {% else %}
        <h1>Пока не создано ни одной компании</h1>
    {% endif %}
    <br>
    <a href="{% url 'company_create' %}">Добавить компанию</a>
{% endblock %}