{% extends 'base.html' %}
{% block title %}
    {{ company }}
{% endblock %}
{% block content %}
    <h1>Компания: {{ company }}</h1>
    <h2>Список сотрудников:</h2>
    {% if company.employees.all %}
        <div class="list-group">
            {% for employee in company.employees.all %}
                <a href="{% url 'employee' company.id employee.id %}" class="list-group-item list-group-item-action">{{ employee.first_name }} {{ employee.last_name }}</a>
            {% endfor %}
        </div>
    {% endif %}
    <br>
    <a class="btn btn-secondary link-light btn-sm" href="{% url 'employee_create' company.id %}" role="button">Добавить Сотрудника</a>
    <br>
{% endblock %}