{% extends 'base.html' %}
{% block title %}
    Компании
{% endblock %}

{% block content %}
    <h1>Список компаний</h1>
    {% if companies_list %}
        <div class="list-group">
            {% for company in companies_list %}
                <a href="{% url 'company_detail' company.id %}" class="list-group-item list-group-item-action">{{ company.title }}</a>
            {% endfor %}
        </div>
    {% else %}
        <h1>Пока не создано ни одной компании</h1>
    {% endif %}
{% endblock %}