{% extends 'base.html' %}
{% block title %}
    {{ employee }}
{% endblock %}
{% block content %}
    <h3>ФИО:
        {% if employee.middle_name %}
            {{ employee.last_name }}
            {{ employee.first_name }}
            {{ employee.middle_name }}
        {% else %}
            {{ employee }}
        {% endif %}
    </h3>
    <h3>Компания: {{ employee.company }}</h3>

    <a href="{% url 'employee_edit' employee.company.id employee.id %}">Редактировать основную информацию</a><br><br>
    {% if employee.contacts.all %}
        <ui>
            {% for contact in employee.contacts.all %}
                <li>{{ contact.contact_type }}: {{ contact.data }} <a
                        href="{% url 'employee_contact_edit' employee.company.id employee.id contact.id %}">
                    изменить</a></li>
                <a href="{% url 'delete_contact' contact.id %}">Удалить способ связи</a><br>
            {% endfor %}
        </ui>
    {% else %}
        <p>Пока нет ни одного способа связаться</p>
    {% endif %}
    <br>
    <a href="{% url 'employee_contact_create' employee.company.id employee.id %}">Добавить способ связи</a><br>
    <a href="{% url 'delete_employee' employee.id %}">Удалить сотрудника из контактов</a>
{% endblock %}