{% extends 'base.html' %}
{% block title %}
    {{ employee }}
{% endblock %}
{% block content %}
    <h3>ФИО:
        {% if employee.middle_name %}
            {{ employee.last_name }}
            {{ employee.first_name }}
            {{ employee.middle_name }}
        {% else %}
            {{ employee }}
        {% endif %}
    </h3>
    <h3>Компания: {{ employee.company }}</h3>
    <a class="btn btn-secondary link-light btn-sm" href="{% url 'employee_edit' employee.company.id employee.id %}">Редактировать
        основную информацию</a><br><br>
    {% if employee.contacts.all %}
        <div class="list-group">
            {% for contact in employee.contacts.all %}
                <div class="list-group-item list-group-item-action">{{ contact.contact_type }}: {{ contact.data }}
                    <a class="link-dark"
                       href="{% url 'employee_contact_edit' employee.company.id employee.id contact.id %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-pencil-fill" viewBox="0 0 16 16">
                            <path d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z"/>
                        </svg>
                    </a>

                    <a class="link-dark" href="{% url 'delete_contact' contact.id %}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
                             class="bi bi-x-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
                        </svg>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Пока нет ни одного способа связаться</p>
    {% endif %}

    <a class="btn btn-secondary link-light btn-sm"
       href="{% url 'employee_contact_create' employee.company.id employee.id %}" role="button">Добавить
        способ связи</a>
    <br>
    <br>
    <a class="btn btn-secondary link-light btn-sm" href="{% url 'delete_employee' employee.id %}" role="button">Удалить
        сотрудника из
        контактов</a>
{% endblock %}